@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
    max-width: 100%;
    max-height: 100%;
    display: flexbox;
}

h2,
h3 {
    font-family: Rubik Scribble, sans-serif;
}

body {
    font-family: DM Sans, sans-serif;
    background-color: #4b4453;
    margin: auto;
}

div {
    margin: auto;
}

button {
    margin: 5px;
}

p {
    margin: auto;
    padding: 16px 16px 16px 16px;
}

b {
    font-size: 32px;
}
.center {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10vh 25vw 10vh 25vw;
}

footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    display: flex;
    padding: 25px 25px 25px 25px;
    margin: 20px;
}

label {
    padding: 10px;
    font-family: Rubik Scribble, sans-serif;
}

.card {
    height: 210px;
    width: 140px;
    border-radius: 16px;
    background-color: rgb(225, 216, 216);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.3s ease-in-out;
}

.t-box{
    justify-content: center;
    text-align: center;
}

/* table classes  */

table {
    display: flex;
    justify-content: center;
    text-align: center;
    border:#4b4453 2px;
}

th {
    font-family: Rubik Scribble, sans-serif;
    padding: 16px;
    text-underline-position: below;
    border-inline: 2px solid white;
    
}

tr {
    height: inherit;
    width: auto;
    border: 2px solid white;
}

td{
    padding: 16px;
    margin: auto;
    height: inherit;
    width: auto;
}

.timer {
    display: flexbox;
    padding: 15px;
    margin: 16px 16px 16px 16px;
    border: 5px solid white;
    text-align: center;
    font-family: Rubik Scribble, sans-serif;
}

#counter {
    font-family: sans-serif;
    font-weight: 800;
}

/* js classes */
.hide {
    display: none;
}

.gridContainer{
    display: grid;
    justify-content: center;
    grid-gap: 24px;
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(2, 210px);
}

.front {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 25px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.front-image {
    height: 60px;
    width: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.card .front{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='40' height='40' patternTransform='scale(2) rotate(0)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(0, 85%, 41%, 1)'/><path d='M20 20v20h20V20zm10 5l5 5-5 5-5-5zM0 0v20h20V0zm10 5l5 5-5 5-5-5z'  stroke-width='1' stroke='none' fill='hsla(259, 90%, 44%, 1)'/><path d='M10 25l5 5-5 5-5-5zM30 5l5 5-5 5-5-5z'  stroke-width='1' stroke='none' fill='hsla(0, 0%, 100%, 1)'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>");
    background-position: center center;
    background-size: cover;
    backface-visibility: hidden;
}

.card:hover {
    transform: rotateY(180deg);
}