@import url('https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

html {
    max-width: 100%;
    max-height: 100%;
    display: flexbox;
}

h2,
h3 {
    font-family: Rubik Scribble, sans-serif;
}

body {
    font-family: DM Sans, sans-serif;
    background-color: #4b4453;
    margin: auto;
}

div {
    margin: auto;
}

button {
    margin: 5px;
}

.center {
    justify-content: center;
    text-align: center;
    margin: auto;
    padding: 10vh 25vw 10vh 25vw;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 25px 25px 25px;
    margin: 20px;
}

label {
    padding: 10px;
    font-family: Rubik Scribble, sans-serif;
}

.card {

    border-radius: 16px;
    padding: 10px;
    margin: 15px;
    background-color: rgb(111, 1, 1);
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.8s ease-in-out;
}

.card-bg {
    height: inherit;
    width: auto;
    
    
    /* mask-image: image("assets/images/loader.gif"); */
}

.t-box{
    justify-content: center;
    text-align: center;
}

.flip:hover {
    transform: rotateY(180deg);
    position: relative;
    background-color: none;
    backface-visibility: hidden;
    /* remove line below  */
    background-image: image("assets/images/loader.gif");
}

img {
    display: flexbox;
    height: inherit;
    width: auto;
    border-radius: 50%;
}

/* table classes  */

table {
    display: flexbox;
    min-width: 50vw;
    border:#4b4453 2px;
    height: fit-content;
    width: max-content;
}

th {
    font-family: Rubik Scribble, sans-serif;
    text-underline-position: below;
    border-inline: 2px solid white;
    
}

tr {
    height: inherit;
    width: auto;
    border: 2px solid white;
}

td{
    padding: 2px;
    margin: auto;
    height: inherit;
    width: auto;
}

.timer {
    display: inline-block;
    padding: 15px;
    margin: 16px 16px 16px 16px;
    border: 5px solid white;
    text-align: center;
    font-family: Rubik Scribble, sans-serif;
}

/* js classes */
.hide {
    display: none;
}



/* .tsla {
    background-image: image(assets/images/Tesla_Motors.png);
    
}

.msft {
    background-image: image(assets/images/Microsoft_logo.png);

}

.aapl {
    background-image: image(assets/images/Apple_logo_black.png);
} */